<%= form_for([@post,@post.comments.build],remote: true) do |f| %>
  <div class="form-group">
    <%= f.label :Add_a_Comment %><br>
    <%= f.text_area :comment,id: 'commenteditor',placeholder: 'comment'%>
  </div>
  <div class="actions">
    <%= f.submit "post comment" %></br></br>
  </div>
  <p>
    <%= link_to 'Edit', edit_post_path(@post),class: 'btn btn-info' %>
    |
    <%= link_to 'Back', posts_path,class: 'btn btn-info' %>
    |
    <%= link_to "Delete",@posts, method: :delete, data: {:confirm => "Are you sure?"} ,class: 'btn btn-info'%>
  </p>
<% end %>
<script>
            CKEDITOR.replace( 'commenteditor', {
              extraPlugins: 'codesnippet',
              codeSnippet_theme: 'monokai_sublime',
              uiColor: '#14B8C4',
              width:['800px']
             } );

 </script>