
    <h3>Comments</h3>
    <% @post.comments.each do |comment| %>
      <p>
         <strong>Comment:</strong>
          <%= comment.comment.html_safe %>
          <ul>
             <%= time_ago_in_words comment.created_at %> ago | 
             <%= link_to "Remove",[@post,comment], :method => :delete, :confirm => "Are you sure?" ,class: 'btn btn-danger btn-xs'%></br></br>
          </ul>
      </p>
    <% end %>
  

