
<%= form_for(@post,remote: true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title,class: 'form-control',placeholder:'title' %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content,id:'posteditor',placeholder:'content' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
            CKEDITOR.replace( 'posteditor', {
              extraPlugins: 'codesnippet',
              uiColor: '#14B8C4',
               width:['800px']
             } );

  $(document).ready(function() {
  return $('#new_post').validate({
    debug: false,
    rules: {
      'post[title]': {
        required: true},
        'post[content]': {
        required: true}
      },
        
        messages: {
          'post[title]': 'Please enter the Title.',
          'post[content]': 'Please type the content.'d 
          
        }
  });
});
 </script>
