 


<p id="notice"><%= notice %></p>
</br>
<h1>welcome to my Post</h1>
      <%= link_to 'New Post', new_post_path,class: 'btn btn-success', id: 'new_post_link',remote: true%>
      <h2>Tittle</h2>
      <div id="post">
      <% @posts.each do |post| %>
      <tr>
        <h4><%= link_to post.title,post %></h4>
        <ul> <%= post.created_at.strftime("%B %d, %Y") %></ul></br>
      </tr>
    <% end %>
    <br>
    </div>