<p id="notice"><%= notice %></p>
<div class="middle">
  <h2>Content:</h2>
  <p><%= @post.content.html_safe %></p>
  <div id="comments">
  <%= render 'comments/index'%>
  </div>
  <%= render 'comments/form'%>
</div>