/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.form-control {
	width: 30%;
	display: inline;

}

h1{
  color: blue;
  font-size:40px;
  font-style: italic;	
}

h3{
 color: purple;
 font-style: italic;
 }
 
 #error_explanation{
 	color:red;
 }

 h2{

 color: red;
 font-style: italic;
 }

 p{
  font-size:17px;
 }

h4{
   font-size:25px;
}

 h5{
 	font-size:40px;
 	text-align: center;
    color: black;
    font-style: italic;
 }
 
 #notice{
 color: red;
 }

 .jumbotron{
     background-color:lightblue;
 }
pre{
width: 450px;
 }
