<!DOCTYPE html>
<html>
<head>
  <title>ForumApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//cdn.ckeditor.com/4.4.7/full-all/ckeditor.js"></script>
</head>
<body id="page-new">
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class ="navbar-brand">
     <%=link_to "Home",root_path,class: 'btn btn-primary'%>
     <%=link_to "Post", posts_path,class: 'btn btn-primary'%>
	 <% if user_signed_in?%>
	     <%=link_to "Sign Out", destroy_user_session_path, method: :delete,class: 'btn btn-primary'%>
      <% else %>
	     <%=link_to "Sign In", new_user_session_path,class: 'btn btn-primary'%>
	     <%=link_to "Sign Up", new_user_registration_path,class: 'btn btn-primary'%>
	 <% end %>
    </div>
 </nav> 
   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>
 

</body>
</html>
